* {
  margin: 0;
  box-sizing: border-box;
}

#bars {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bar {
  flex-grow: 1;
  border: 1px solid darkgoldenrod;
  background: peachpuff;
  background: -webkit-linear-gradient(to top, #faaca8, peachpuff);
  background: linear-gradient(to top, #faaca8, peachpuff);
  margin-right: 1px;
  height: 100px;
}
